@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: rgba(246, 246, 246, 0.342);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 1rem;
}
header #logo img {
  width: 150px;
  filter: drop-shadow(0.1px 0.1px 1px black), invert(1);
}
header #menu a {
  text-decoration: none;
  color: white;
  font-family: "montserrat", "poppins";
  padding-left: 2.5rem;
  filter: drop-shadow(1px 1px 5px black);
}
header #rede a {
  text-decoration: none;
  color: white;
  padding-left: 1rem;
}
header #rede a img {
  transition: 0.2s;
}
header #rede a img:hover {
  transform: scale(1.15);
}

.container-1 {
  background: linear-gradient(to left, transparent 1%, #000000 96%), url(../img/SCANIA.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.container-1 #txt {
  padding-top: 25rem;
  padding-left: 5rem;
  font-family: "montserrat", "poppins";
  line-height: 55px;
  color: white;
}
.container-1 #txt h1 {
  font-size: 100px;
}
.container-1 #txt h2 {
  font-size: 50px;
  filter: drop-shadow(19px -15px 15px black);
}
.container-1 .link {
  width: 100%;
  font-family: "montserrat", "poppins";
  padding-left: 5rem;
  padding-top: 3rem;
}
.container-1 .link a {
  text-decoration: none;
  color: white;
  background-color: grey;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 12.5rem;
  padding-right: 12.5rem;
  font-weight: 0;
  transition: 0.2s;
  border-radius: 25px;
}
.container-1 .link a:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  outline: 2px solid grey;
}

.container-2 {
  height: 100vh;
  font-family: "montserrat", "poppins";
  padding: 5rem;
  background: url(../img/ft.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-2 #txt {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
  margin: auto;
  color: white;
  width: 100%;
}
.container-2 #qs h1 {
  font-size: 120px;
  padding-top: 10rem;
}
.container-2 #bar {
  height: 10px;
  width: 10px;
  background: green;
  width: 48%;
}
.container-2 #sobre {
  width: 95%;
}
.container-2 #sobre p {
  width: 100%;
  margin: auto;
  padding-top: 3rem;
  padding-left: 54rem;
  padding-bottom: 3rem;
  text-align: right;
}
.container-2 #link a {
  outline: 2px solid transparent;
  text-decoration: none;
  color: white;
  border: 1px solid black;
  background-color: green;
  padding: 1rem 5rem 1rem 5rem;
  transition: 0.2s;
  font-weight: 0;
}
.container-2 #link a:hover {
  outline: 2px solid rgb(0, 110, 254);
  font-weight: bold;
}

.container-3 {
  max-height: 100vh;
  text-align: center;
  font-family: "montserrat", "poppins";
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 1rem;
}
.container-3 #bar {
  height: 5px;
  width: 250px;
  background-color: green;
  margin: auto;
  padding-top: 0.2rem;
  margin-bottom: 0.5rem;
}
.container-3 #cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3.5rem;
  margin: 0.3rem;
  height: 75vh;
}
.container-3 #cards #card img {
  max-width: 950%;
  border-radius: 25px;
  transition: 0.2s;
  margin-bottom: 2rem;
  filter: drop-shadow(1px 5px 0.2px rgba(254, 254, 254, 0));
}
.container-3 #cards #card img:hover {
  filter: drop-shadow(1px 5px 0.2px black);
  transform: scale(1.01);
}
.container-3 #cards #card p {
  width: 55%;
  margin: auto;
  text-align: center;
  font-weight: 600;
}
.container-3 #link {
  margin-top: 2.9rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.container-3 #link img {
  width: 30px;
  margin-right: 0.5rem;
  filter: invert(1);
  transition: 0.2s;
}
.container-3 #link img:hover {
  transform: translateX(5px);
}
.container-3 #link a {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  text-decoration: none;
  width: 15%;
  background-color: green;
  text-align: center;
  margin: auto;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  border-radius: 25px;
}

.container-4 {
  font-family: "montserrat", "poppins";
  color: black;
  height: 100vh;
  text-align: center;
  padding: 1rem;
}
.container-4 h1 {
  padding-top: 5rem;
  border-bottom: 3px solid green;
  max-width: 28%;
  margin: auto;
}
.container-4 #cards {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.container-4 #cards img {
  width: 450px;
}

.container-5 {
  height: 55vh;
  background-color: #61ce70;
  font-family: "montserrat", "poppins";
  padding: 1rem;
  text-align: left;
  color: white;
}
.container-5 h1 {
  font-size: 35px;
  padding-bottom: 1.5rem;
}
.container-5 #txt {
  width: 95%;
  font-size: 15px;
  font-weight: 600;
}
.container-5 #link {
  margin-top: 1.5rem;
  width: 33%;
}
.container-5 #link a {
  text-decoration: none;
  margin: auto;
}
.container-5 #link a p {
  margin: auto;
  background-color: rgb(2, 194, 22);
  padding: 1.5rem;
  width: 100%;
  font-weight: bold;
  text-align: center;
  color: white;
  transition: 0.5s;
  filter: drop-shadow(0.5px 0.5px 0.5px black);
  outline: 0.5px solid rgb(94, 94, 247);
}
.container-5 #link a p:hover {
  font-weight: 900;
  outline: 2px solid blue;
  background-color: green;
  filter: drop-shadow(1px 21px 15px rgba(0, 0, 0, 0.473));
}

footer #tudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}
footer #tudo #logo img {
  width: 150px;
  transition: 0.2s;
}
footer #tudo #logo img:hover {
  transform: scale(1.09);
  filter: drop-shadow(0.5px 1px 25px black);
}
footer #tudo #info {
  color: black;
  font-family: "montserrat", "poppins";
  padding: 1.5rem;
}
footer #tudo #info #ender {
  padding-top: 1.5rem;
  width: 55%;
}
footer #tudo #info #tel {
  padding-top: 1.5rem;
}
footer #tudo #info #redes {
  padding-top: 1.5rem;
}
footer #tudo #info #redes a {
  text-decoration: none;
  color: white;
  padding-right: 1.5rem;
}
footer #tudo #mapa {
  padding: 1rem;
}

#dir {
  text-align: center;
  background-color: #61ce70;
  color: black;
  font-family: "montserrat", "poppins";
  margin: auto;
  padding: 1rem;
}
#dir p {
  background-color: rgba(43, 73, 226, 0.468);
  color: white;
  font-weight: bold;
  width: 43%;
  margin: auto;
}

@media screen and (max-width: 1920px) {
  .container-1 {
    height: 100vh;
  }
  .container-1 #txt {
    padding-top: 20rem;
  }
  .container-2 {
    height: 100vh;
    width: 100%;
  }
  .container-2 #txt {
    padding-top: 1rem;
  }
  .container-2 #txt #qs h1 {
    font-size: 55px;
    padding-top: 5rem;
  }
  .container-2 #txt #bar {
    width: 380px;
  }
  .container-2 #txt #sobre {
    width: 100%;
  }
  .container-2 #txt #sobre p {
    padding-left: 45rem;
  }
  .container-3 #cards {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    align-content: center;
  }
  .container-3 #cards #card img {
    height: 400px;
  }
  .container-3 #cards #card p {
    width: 450px;
  }
  .container-4 {
    margin: auto;
  }
  .container-4 h1 {
    max-width: 35%;
    margin-bottom: 2.5rem;
  }
  .container-4 #cards {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
  }
  .container-4 #cards #card {
    padding-top: 5rem;
  }
  .container-4 #cards #card img {
    width: 250px;
  }
  .container-5 {
    height: 50vh;
    background-color: #61ce70;
    font-family: "montserrat", "poppins";
    padding: 2rem;
    text-align: left;
    color: white;
  }
  .container-5 h1 {
    font-size: 35px;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
  }
  .container-5 #txt {
    width: 95%;
  }
  .container-5 #link {
    margin-top: 1.5rem;
    width: 20%;
  }
  .container-5 #link a {
    text-decoration: none;
  }
  .container-5 #link a p {
    background-color: rgb(2, 194, 22);
    padding: 0.5rem;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: white;
    transition: 0.5s;
    filter: drop-shadow(0.5px 0.5px 0.5px black);
    outline: 0.5px solid rgb(94, 94, 247);
  }
  .container-5 #link a p:hover {
    font-weight: 900;
    outline: 2px solid blue;
    background-color: green;
    filter: drop-shadow(1px 21px 15px rgba(0, 0, 0, 0.473));
  }
  .container-6 {
    background-color: #21632a;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: "montserrat", "poppins";
    align-items: center;
    align-self: center;
  }
  .container-6 img {
    width: 450px;
    border-radius: 25px;
    filter: drop-shadow(0px 8px 0.5px black);
  }
  .container-6 #tudo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container-6 #tudo #txt {
    color: white;
    padding-left: 15rem;
    text-align: right;
  }
  .container-6 #tudo #txt h1 {
    padding-bottom: 1.5rem;
  }
  .container-6 #tudo #txt p {
    padding-bottom: 1.5rem;
  }
  .container-6 #tudo #txt #Link {
    margin-left: 11.7rem;
    width: 50%;
    background-color: white;
    filter: drop-shadow(0px 0px 0px black);
    transition: 0.5s ease-in-out;
    outline: 0px solid blue;
  }
  .container-6 #tudo #txt #Link:hover {
    filter: drop-shadow(5px 35px 55px black);
    border-radius: 5px;
    outline: 1px solid blue;
  }
  .container-6 #tudo #txt #Link a {
    text-decoration: none;
  }
  .container-6 #tudo #txt #Link a p {
    padding: 1rem;
    text-align: center;
    color: green;
    font-weight: 300;
    transition: 0.2s;
    filter: drop-shadow(0px 0px 0px black);
  }
  .container-6 #tudo #txt #Link a p:hover {
    transform: scale(1.1);
    font-weight: 600;
  }
  footer #tudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
  }
  footer #tudo #logo img {
    width: 150px;
    transition: 0.2s;
  }
  footer #tudo #logo img:hover {
    transform: scale(1.09);
    filter: drop-shadow(0.5px 1px 25px black);
  }
  footer #tudo #info {
    color: black;
    font-family: "montserrat", "poppins";
    padding: 1.5rem;
  }
  footer #tudo #info #ender {
    padding-top: 1.5rem;
    width: 55%;
  }
  footer #tudo #info #tel {
    padding-top: 1.5rem;
  }
  footer #tudo #info #redes {
    padding-top: 1.5rem;
  }
  footer #tudo #info #redes a {
    text-decoration: none;
    color: white;
    padding-right: 1.5rem;
  }
  footer #tudo #mapa {
    padding: 1rem;
  }
  #dir {
    text-align: center;
    background-color: #61ce70;
    color: black;
    font-family: "montserrat", "poppins";
    margin: auto;
    padding: 1rem;
  }
  #dir p {
    background-color: rgba(43, 73, 226, 0.468);
    color: white;
    font-weight: bold;
    width: 43%;
    margin: auto;
  }
}/*# sourceMappingURL=index.css.map */