@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$pry: "montserrat", "poppins";

@media screen and (max-width: 1920px) {
    header {
        background: rgba(246, 246, 246, 0.342);
        backdrop-filter: blur( 6px );
        -webkit-backdrop-filter: blur( 6px );
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding: 1rem;
        #logo {
            img {
                width: 150px;
                filter: drop-shadow(0.1px 0.1px 1px black), invert(1);
            }
        }
    
        #menu {
            a {
                text-decoration: none;
                color: white;
                font-family: $pry;
                padding-left: 2.5rem;
                filter: drop-shadow(1px 1px 5px black);
            }
        }
    
        #rede {
            a {
                text-decoration: none;
                color: white;
                padding-left: 1rem;
                img {
                    transition: 0.2s;
                    &:hover {
                        transform: scale(1.15);
                    }
                }
            }
        }
    
    
    }
    
    .container-1 {
        font-family: $pry;
        height: 55vh;
        background-color: green;
        padding: 2.5rem;
        color: white;
        h1 {
            padding-top: 3.5rem;
            padding-bottom: 3.8rem;
        }
    
        h2 {
            font-size: 45px;
            text-align: center;
            width: 30%;
            margin: auto;
            border-bottom: 10px solid #263d73;
        }
    
        #txt {
            padding-top: 2.5rem;
            font-weight: 700;
            text-align: center;
        }
    }
    
    .container-2 {
        background-color: green;
        height: 65vh;
    
        #cards {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 1rem;
            font-family: $pry;
            #card {
                text-align: center;
                border: 2px solid white;
                padding: 1.5rem;
                border-radius: 20px;
                transition: .5s;
                &:hover {
                    transform: scale(1.1);
                    background-color: rgb(60, 197, 74);
                }
                img {
                    width: 400px;
                    border-radius: 25px;
                }
    
                p {
                    padding-top: 1.5rem;
                    font-weight: 600;
                    
                    color: white;
                }
    
                h3 {
                    color: white;
                    padding-top: 0.5rem
                }
            }
        }
    }
}